@import "./node_modules/bootstrap/scss/bootstrap";
@import './node_modules/font-awesome/scss/font-awesome';
@font-face {
    font-family: BebasNeue;
    src: url('./../assets/fonts/bebas/TTF/BebasNeue Regular.ttf');
}
@font-face {
    font-family: Travelling;
    src: url('./../assets/fonts/travelling/Travelling.ttf');
}
@font-face {
    font-family: BebasNeue;
    font-weight: bold;
    src: url('./../assets/fonts/bebas/TTF/BebasNeue Bold.ttf');
}
@font-face {
    font-family: BebasNeue;
    font-weight: lighter;
    src: url('./../assets/fonts/bebas/TTF/BebasNeue Light.ttf');
}
@font-face {
    font-family: BebasNeueBook;
    src: url('../assets/fonts/bebas/TTF/BebasNeue Book.ttf');
}
* {
    font-family: Roboto;
}

body {
    background-color: rgb(239, 207, 134);
}
.bebas {
    font-family: BebasNeue;
}
.bebas-book {
    font-family: BebasNeueBook;
}
.travelling {
    font-family: Travelling;
}

/**    MENU STYLES             **/
ion-header {
    ion-navbar {
        div.toolbar-background  {
            background-color: rgb(213, 93, 44);
        }
        button.bar-button-md {
            color: rgb(215, 159, 70);
        }
        div.toolbar-content ion-title div label {
            color: white;
        }
        div.toolbar-content ion-title div label.route {
            font-weight: bold;
        }
        div.toolbar-content ion-title div.toolbar-title {
            padding-left: 25vw;
        }
    }



    ion-toolbar {
        div.toolbar-background {
            background-color: rgb(213, 93, 44);
        }
        div.toolbar-content ion-title div {
            color: white;
        }

    }
}
.toolbar-title-md{
    font-weight: bold;
    color: white;
}
ion-content div.scroll-content {
    background-color: #efcf86 !important;
}

ion-nav page-home ion-content div.scroll-content {
    padding-top: 56px !important;
}
.ion-page {
    background-color: #efd57e !important;
}

.ion-page.show-page {
    opacity: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

/** RANGE STYLES **/
.range-knob, .range-bar.range-bar-active {
    background: rgb(208, 127, 47)!important;
}
.icon-md-brown {
    color:  rgb(208, 127, 47)!important;
}
.range-bar {
    background: rgb(234, 199, 81) !important;
}